!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(charset="UTF-8")
    %title Linux Day 2013 by BGlug
    %link(rel="stylesheet" type="text/css" href="/css/linuxday.css")
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu|Luckiest+Guy")
  %body
    #content
      = yield
