!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Linux Day 2013 by BGlug
    //%link(rel="stylesheet" type="text/css" href="/css/linuxday.css")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="/css/style.css")
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu|Luckiest+Guy")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript")
    %script(src="http://jquery.bassistance.de/validate/jquery.validate.js" type="text/javascript")
    %script(src="/js/bootstrap.min.js" type="text/javascript")
    %script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_it.js" type="text/javascript")
  %body
    .container
      .row#header
        .col-md-3
          %img#bgluglogo{:src => '/images/bgluglogo.png', :alt => 'BGlug Logo', :title => 'BGlug'}
        .col-md-5.col-md-offset-4
          %ul.nav.nav-pills
            %li
              %a(href="/ld/2013" title="Pagina principale") Home
            %li
              %a(href="/ld/2013/about" title="Cos'è il Linux Day?") Cos'è il Linux Day?
            %li
              %a(href="/ld/2013/programma" title="Programma") Programma
            %li.dropdown
              %a(class="dropdown-toggle" data-toggle="dropdown" href="#") Partecipa
              %ul.dropdown-menu
                %li
                  %a(href="/ld/2013/segui") Calendario interventi
                %li
                  %a(href="/ld/2013/presenta") Proposte interventi
                %li
                  %a(href="/ld/2013/installa") Installazione di GNU/Linux
      .row    
        #content
          = yield
  :javascript
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: 5000
      })
    });
