!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(charset="UTF-8")
    %title 404 - Not found - LD2013/BGlug
    %link(rel="stylesheet" type="text/css" href="/css/linuxday.css")
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu|Luckiest+Guy")
  %body
    #content
      %h1 404 &mdash; Not found
      %h2 Linux Day 2013 - BGlug

      :markdown
        Torna alla [pagina principale]('/') di questo sito.
