html {
    width: 100%;
}

body {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

#bgluglogo {
    border: 0px;
    margin: 0px auto;
    display: block;
    width: 484px;
}

#ldlogo {
    border: 0px;
    margin: 0px auto;
    margin-bottom: 60px;
    display: block;
    width: 367px;
}

img {
    border: 0;
}

h1 {
    margin: 1.5em auto;
    text-align: center;
    font-family: 'Luckiest Guy', 'Tahoma';
}

h2 {
    margin: 1em auto;
    text-align: center;
    font-family: 'Luckiest Guy', 'Tahoma';
}

h3 {
    width: 210px;
    margin: 1em auto;
    margin-top: 1.5em;
    font-family: 'Luckiest Guy', 'Tahoma';
    border-bottom: 3px solid black;
    text-align: center;
}

label {
    vertical-align: top;
}

input {
    margin-right: 0px;
}

th {
    text-align: left;
    vertical-align: top;
}

td {
    text-align: right;
}

.required {
    color: red;
}

#segui, #presenta, #installa {
    margin: 0.8em auto;
    padding: 5px 10px;

    table {
	margin: 0px auto;

	input {
	    margin-bottom: 10px;
	    width: 300px;
	}
    }

    .buttons {
	margin: 10px auto;
	text-align: center;
    }
}
