html {
    width: 100%;
}

body {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

#bgluglogo {
    border: 0px;
    margin: 0px auto;
    display: block;
    width: 484px;
}

#ldlogo {
    border: 0px;
    margin: 0px auto;
    margin-bottom: 60px;
    display: block;
    width: 367px;
}

img {
    border: 0;
}

h1 {
    margin: 1.5em auto;
    text-align: center;
    font-family: 'Luckiest Guy', 'Tahoma';
}

h2 {
    margin: 1em auto;
    text-align: center;
    font-family: 'Luckiest Guy', 'Tahoma';
}

h3 {
    width: 210px;
    margin: 1em auto;
    margin-top: 1.5em;
    font-family: 'Luckiest Guy', 'Tahoma';
    border-bottom: 3px solid black;
    text-align: center;
}

label {
    vertical-align: top;
}

input {
    margin-right: 0px;
}

th {
    text-align: left;
    vertical-align: top;
}

td {
    text-align: right;
}

.pagenav {
    display: absolute;
    font-size: 9px;
    text-align: right;
}

.required {
    color: red;
}

.forms {
    margin: 0.8em auto;
    padding: 5px 10px;

    table {
	margin: 0px auto;

	tr {
	    margin: 5px auto;
	}

	td {
	    position: relative;
	}

	input {
	    margin-bottom: 10px;
	    width: 300px;
	}

	label.error {
	    color: red;
	    font-weight: bold;
	    float: right;
	    position: absolute;
	    top: -15px;
	    right: 3px;
	    z-index: 99;
	}

	.counter {
	    position: relative;
	    font-size: 9px;
	    top: -10px;
	    right: 6px;
	}
    }

    .captcha {
	width: 300px;
	text-align: center;

	img {
	    width: 130px;
	    margin: 0px auto;
	}

	label.error {
	    color: red;
	    font-weight: bold;
	    float: right;
	    position: absolute;
	    top: 115px;
	    right: 3px;
	    z-index: 99;
	}
    }

    .buttons {
	margin: 10px auto;
	text-align: center;
    }
}

#navigation {
    display: block;
    position: absolute;
    float: left;
    top: 200px;
    left: 10px;
    width: 200px;

    li {
	list-style-type: none;
	margin: 10px auto;

	a {
	    display: block;
	    font-family: 'Luckiest Guy', 'Tahoma';
	    text-decoration: none;
	    text-shadow: 0.1em 0.1em #333;
	    border-radius: 5px;
	    width: 150px;
	    padding: 5px 10px;
	    text-align: center;
	    margin: 5px auto;
	    padding-top: 10px;
	    background: orange;
	    color: white;
	}

	a:hover {
	    text-decoration: underline;
	}
    }
}
