#header{
	padding-top: 0em;
}

#message-linus{
	font-size: 12px;
}

#content{
	padding-top: 0em;
}

#slider{
	padding-top: 1em;
}

#bgluglogo {
  width: 20em; 
}

#mappa-image{
	margin-top: 1em;
}

/* Google Maps */
#map_canvas {
  margin: 0px auto;
  width: 700px;
  height: 380px;
}

#bottoni-modulo{
	padding-bottom: 2em;
}
