#header{
	padding-top: 0em;
}

#message-linus{
	font-size: 12px;
}

#content{
	padding-top: 0em;
}

#slider{
	padding-top: 1em;
}

#bgluglogo {
  width: 20em; 
}

#bottoni-modulo{
	padding-bottom: 2em;
}

#gmaps-bubble {
  font-family: "Ubuntu";
  font-size: 14px;
}

// Modifiche per centratura icone e Google Maps
.fullrow {
  width: 100px;
}

.fullrow i.icon-4x {
  display: block;
  margin: 0px auto;
  width: 48px;
  height: 57px;
}

#map_canvas {
  display: block;
  margin: 1em auto;
  margin-bottom: 2em;
  width: 700px;
  height: 480px;
}

.carousel-caption h3 a {
  color: white;
}

.carousel-caption h3 a:hover {
  color: lightgray;
}
