%ol.breadcrumb
  %li
    %a(href="/ld/2013") Home
  %li
    %a.active(href="#") Cosa è il Linux Day?

.row
  .col-md-6
    .row
      .col-md-3.col-md-offset-5
        %i.icon-linux.icon-4x 
    .row
      .col-md-12
        %p 
          :markdown
            Il [Linux Day](http://linuxday.it) è un evento annuale e aperto al pubblico,
            organizzato in tutta Italia da tutti i [gruppi di utenti Linux
            (LUG)](http://it.wikipedia.org/wiki/Linux_User_Group) locali, con lo scopo
            di far conoscere ed apprezzare il sistema operativo GNU/Linux e tutto il
            [software libero](http://it.wikipedia.org/wiki/Software_libero) in generale.
  .col-md-6
    .row
      .col-md-3.col-md-offset-5
        %i.icon-time.icon-4x
    .row
      .col-md-12
        %p
          :markdown 
            Il Linux Day 2013 è fissato per tutta Italia per il giorno 26 Ottobre 2013

.row
  .col-md-3.col-md-offset-5
    %i.icon-globe.icon-4x
.row
  .col-md-12
    %p
      :markdown
        Il Linux Day è un evento organizzato in tutta Italia dai LUG locali. Puoi
        trovare quello più vicino a te consultando la [mappa dei LUG](http://lugmap.it/).
        
        Per quanto riguarda Bergamo e provincia, il [Bergamo Linux Users Group
        (BGlug)](http://bglug.it) organizza l'evento presso lo [Spazio Polaresco](http://www.giovani.bg.it/spazio-polaresco.html), in via del Polaresco 15 a Bergamo.
.row
  .col-md-6.col-md-offset-3
    %script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
    :javascript
      function initialize() {
        var polaresco = new google.maps.LatLng(45.6922, 9.6349); 
        var marker = '/images/ldlogo_small.png';
        var canvas = document.getElementById('map_canvas');
        var marker = new google.maps.Marker({
          position: polaresco,
          map: map,
          icon: marker
        });
        var mapOptions = {
          center: polaresco,
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(canvas, mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    %p
      %a{:href =>'https://maps.google.it/maps?q=Via+del+Polaresco,+15,+Bergamo+BG&hl=it&ll=45.692189,9.634881&spn=0.006535,0.007907&sll=45.657417,9.96278&sspn=2.004228,4.932861&oq=via+del+&t=h&hnear=Via+del+Polaresco,+15,+24129+Bergamo,+Provincia+di+Bergamo,+BG&z=17'}
        %div#map_canvas
