:markdown
  # Cos'è il Linux Day? --- Qualche informazione #

  ## BGlug @ Linux Day 2013 ##

  Cos'è il Linux Day < [Home](/ld/2013)
  {: .pagenav}

  Il [Linux Day](http://linuxday.it) è un evento annuale e aperto al pubblico,
  organizzato in tutta Italia da tutti i [gruppi di utenti Linux
  (LUG)](http://it.wikipedia.org/wiki/Linux_User_Group) locali, con lo scopo
  di far conoscere ed apprezzare il sistema operativo GNU/Linux e tutto il
  [software libero](http://it.wikipedia.org/wiki/Software_libero) in generale.
  
  ### Quando? ###
  Il Linux Day 2013 è fissato per tutta Italia per il giorno 26 Ottobre 2013.
  
  ### Dove? ###
  Il Linux Day è un evento organizzato in tutta Italia dai LUG locali. Puoi
  trovare quello più vicino a te consultando la [mappa dei LUG](http://lugmap.it/).
  
  Per quanto riguarda Bergamo e provincia, il [Bergamo Linux Users Group
  (BGlug)](http://bglug.it) organizza l'evento presso lo [Spazio Polaresco](http://www.giovani.bg.it/spazio-polaresco.html), in [via del Polaresco 15 a Bergamo](https://maps.google.it/maps?f=q&source=s_q&hl=it&geocode=&q=Via+del+Polaresco,+15,+Bergamo+BG&aq=0&oq=via+del+&sll=45.657417,9.96278&sspn=2.004228,4.932861&vpsrc=0&t=h&ie=UTF8&hq=&hnear=Via+del+Polaresco,+15,+24129+Bergamo,+Provincia+di+Bergamo,+BG&ll=45.691912,9.634988&spn=0.007824,0.019269&z=16&iwloc=A).
