%label.col-lg-2.control-label(for="captcha-image") Dimostra di non essere un bot
.col-lg-6
  .captcha
    :javascript
      $().ready(function () {
        $('#captcha-answer').attr('placeholder', 'Immetti qui il testo mostrato sopra');
        $('#captcha-answer').attr('class', 'form-control');
        $('.captcha img').attr('style', 'margin-bottom: 10px;'); 
      });
    = captcha_image_tag
    = captcha_answer_tag
