%label.col-lg-2.control-label(for="captcha-image") Dimostra di non essere un bot
.col-lg-6
  .captcha
    :javascript
      $().ready(function () {
        $('#captcha-answer').attr('placeholder', 'Immetti qui il testo mostrato sopra');
      });
    = captcha_image_tag
    %br
    = captcha_answer_tag