%h1 Anche per quest'anno, l'associazione
#bgluglogo
  %img{:src => '/images/bgluglogo.png', :alt => 'BGlug Logo', :title => 'BGlug'} 

%h1 organizza il
#ldlogo
  %img{:src => '/images/ldlogo.png', :alt => 'Linux Day 2013', :title => 'Linux Day 2013'}
