.row#slider
	.col-md-10.col-md-offset-1
		.carousel.slide#carousel-example-generic
			%ol.carousel-indicators
				%li(data-target='#carousel-example-generic' data-slide-to="0" class="active")
				%li(data-target='#carousel-example-generic' data-slide-to="1")
				%li(data-target='#carousel-example-generic' data-slide-to="2")
			.carousel-inner
				.item.active
					%img(src="http://lorempixel.com/1000/400/sports/" alt="slide1")
					.carousel-caption
						%h3 First label
						%p Questo è un testo di prova
				.item
					%img(src="http://lorempixel.com/1000/400/sports/" alt="slide1")
					.carousel-caption
						%h3 Second label
				.item
					%img(src="http://lorempixel.com/1000/400/sports/" alt="slide1")
					.carousel-caption
						%h3 Third label

.row
	.col-md-7.col-md-offset-3
		%a(href="http://www.linuxday.it" title="LInux Day")
			%img{:src => 'http://www.linuxday.it/sites/default/files/banners/banner_468x60.png', :alt => 'Linux Day 2013', :title => 'Linux Day 2013', :width => '500px', :style => 'margin-left:4em;margin-top:1em;'}
/%h1 Anche per quest'anno, l'associazione
/#bgluglogo
/  %img{:src => '/images/bgluglogo.png', :alt => 'BGlug Logo', :title => 'BGlug'} 

/%h1 organizza il
/#ldlogo
/ %img{:src => '/images/ldlogo.png', :alt => 'Linux Day 2013', :title => 'Linux Day 2013'}
