:markdown
  # Come posso partecipare? #

  ## BGlug @ Linux Day 2013 ##
  
  Partecipa < [Home](/ld/2013)
  {: .pagenav}

  L'evento è aperto al pubblico senza alcun contributo per la partecipazione;
  puoi decidere di partecipare in alcune o in tutte le seguenti attività:
  
  * Puoi [seguire gli interventi](/ld/2013/segui);
  * Puoi [proporre un tuo intervento](/ld/2013/presenta);
  * Puoi [farti installare Linux sul tuo PC](/ld/2013/installa).
