%ol.breadcrumb
  %li
    %a(href="/ld/2013/") Home
  %li
    %a(href="#") Partecipa
  %li
    %a.active(href="#") Proponi intervento



.row
  .container
    %h2 Presenta o richiedi un argomento
    %p Ecco qualche ulteriore indicazione su come partecipare, proponendo un proprio intervento durante la giornata del Linux Day.
    %h2 Call For Papers
    :markdown 
      Nei prossimi giorni verrà annunciato un *call for papers*, che conterrà tutte le indicazioni per sottoporre all'attenzione del BGlug il proprio prodotto.

      Il BGlug, una volta raccolte tutte le adesioni per gli interventi, procederà a selezionare quelli che considera interessanti e degni di evidenza, quindi procederà a definitivizzare il programma.
    %h2 Formato dell'intervento
    %p È possibile presentare un intervento secondo le seguenti modalità:
    %ul
      %li 
        :markdown
          **Presentazione** (*talk*): è la classica presentazione, solitamente accompagnata da slides o altro materiale visuale che dovrebbe guidare l'auditorium nel corso della presentazione. La durata di questo tipo di intervento è solitamente di 40--45 minuti di talk più una sessione di 10--15 minuti per le domande e il "cambio palco";
      %li 
        :markdown
          **Workshop** (*lab*): è un tipo di intervento di approfondimento pratico di un argomento specifico. Anche in questo caso la durata massima per l'intervento è 40--45 minuti più 10--15 minuti per le domande e il "cambio palco";
      %li 
        :markdown
          **_Lightning talk_**: Una forma molto più rapida di talk, più adeguata per l'esposizione di argomenti non troppo articolati. La durata massima per questo tipo di intervento è di 10--15 minuti più 5 minuti di domande e "cambio palco";
      %li 
        :markdown
          **Dimostrazione** (*demo*): questo formato permette di fare delle dimostrazioni di funzionamento di particolari software o procedure. Solitamente la demo è di durata inferiore ai 30 minuti;
      %li 
        :markdown
          **Dibattito** o **Tavola rotonda**: è una forma di intervento che ha come scopo il coinvolgimento degli astanti con una serie di domande; solitamente, chi propone l'intervento avrà poi il compito di mediare la discussione. Solitamente viene lasciato un tempo non inferiore ai 45 minuti.
    %p 
      :markdown
        Per chi ancora non si sentisse all'altezza di presentare un argomento al Linux Day ma che avrebbe piacere di veder trattato un argomento di suo interesse, è possibile riempire i campi e scegliere il formato di presentazione **Proposta di intervento**.
        Se qualcuno dei soci del BGlug avrà sufficienti informazioni riguardo ad un argomento proposto, sarà possibile che l'argomento che avrete richiesto venga trattato ugualmente.
    %h2 Sessioni
    %p Verificando annualmente una grossa affluenza di studenti degli istituti tecnici della città di Bergamo soprattutto la mattina, il Linux Day viene organizzato per prevedere due sessioni:
    %ul
      %li
        :markdown
          **Sessione divulgativa**: solitamente corrisponde alla prima parte del Linux Day, dalle 9.00 alle 13.00 circa. All'interno di questo periodo di tempo, l'affluenza agli interventi risulta essere appannaggio di persone non tecniche, quindi si preferisce dare visibilità agli interventi meno tecnici durante la mattina;
      %li
        :markdown
          **Sessione tecnica**: durante le ore pomeridiane (14.00--18.00) è invece più forte la presenza dei tecnici che partecipano alle attività del Linux Day. Pertanto, gli argomenti più difficoltosi o che richiedono una certa *knowledge* vengono programmati per il pomeriggio.
    %p Puoi segnalarci che vuoi presentare un argomento al Linux Day completando il seguente modulo.  

.forms
  :javascript
    $().ready(function() {
      // Valida form.
      $("#presenta").validate({
        rules: {
          nome: "required",
          email: "required",
          titolo: "required",
          captcha_answer: "required",
          nome: {
            required: true,
            minlength: 3,
            maxlength: 50
          },
          email: {
            required: true,
            email: true
          },
          titolo: {
            required: true,
            minlength: 5,
            maxlength: 50
          },
          abstract: {
            maxlength: 300
          },
          altrerichieste: {
            minlength: 3,
            maxlength: 50
          },
          captcha_answer: {
            minlength: 4,
            maxlength: 4
          }
        },
        messages: {
          name: "Inserisci il tuo nome e cognome, di almeno 3 lettere.",
          email: "Inserisci un indirizzo email valido.",
          titolo: "Inserisci un titolo anche provvisorio (min: 5 lettere, max: 50 lettere)",
          abstract: "Il sommario non può essere più lungo di 300 caratteri."
        }
      });
      $('#abstract').keyup(function() {
        var max = 300;
        var len = $(this).val().length;
        if (len >= max) {
          $('#counter').text("Termine lettere a disposizione.");
        } else {
          var char = max - len;
          $('#counter').html(char + ' lettere rimanenti.');
        }
      });
      $('#altrerichieste').keyup(function() {
        var max = 300;
        var len = $(this).val().length;
        if (len >= max) {
          $('#counter').text("Termine lettere a disposizione.");
        } else {
          var char = max - len;
          $('#arcounter').html(char + ' lettere rimanenti.');
        }
      });
    });
  %form.form-horizontal#presenta(action="/ld/2013/conferma" method="post")
    .form-group
      %label.col-lg-2.control-label(for="nome") Nome e Cognome
      .col-lg-6
        %input.form-control(type='text' name='nome' required placeholder="Linus Torvalds")
    .form-group
      %label.col-lg-2.control-label(for='email') Email
      .col-lg-6
        %input.form-control(type='email' name='email' required placeholder="tux@linux.it")
    .form-group
      %label.col-lg-2.control-label(for='titolo') Qual è il titolo (anche provvisorio) del tuo intervento?
      .col-lg-6
        %input.form-control(type='text' name='titolo' required placeholder="La sapete l'ultima?")
    .form-group
      %label.col-lg-2.control-label(for='sessione') In quale sessione preferiresti presentare?
      .col-lg-6
        %select.form-control(name='sessione')
          %option(value="Mattina") Sessione divulgativa (mattino)
          %option(value="Pomeriggio") Sessione tecnica (pomeriggio)
          %option(value="-" selected) È indifferente/non ho preferenze
    .form-group
      %label.col-lg-2.control-label(for="formato") Che formato avrà la tua presentazione?
      .col-lg-6
        %select.form-control(name="formato")
          %option(value="Talk") Presentazione (talk)
          %option(valie="Workshop") Workshop (lab)
          %option(value="Lightning talk")
            %em Lightning talk
          %option(value="Demo") Dimostrazione (demo)
          %option(value="Dibattito") Dibattito/Tavola Rotonda
          %option(value="Proposta") Proposta di intervento
          %option(value="-" selected) Non lo so ancora
    .form-group
      %label.col-lg-2.control-label(for='abstract') Breve sommario del tuo intervento
      .col-lg-6
        %textarea.form-control#abstract(name="abstract" rows="6" placeholder="Scrivi qui qualche riga riguardo alla tua presentazione")
        %p.counter#counter 300 lettere rimanenti.
    .form-group
      %label.col-lg-2.control-label(for='altrerichieste') Altre necessità per la presentazione
      .col-lg-6
        %textarea.form-control#altrerichieste(name="altrerichieste" rows="6" placeholder="Scrivi qui altro materiale necessario al tuo intervento (PC e proiettore sono sempre forniti)")
        %p.counter#arcounter 300 lettere rimanenti.
    .form-group
      = haml 'ld/2013/captcha'.to_sym
    %input(type='hidden' name='azione' value='presenta')

    .col-md-5.col-md-offset-2#bottoni-modulo
      %button.btn.btn-success(type="submit" name="submit" value="Conferma") Conferma
      %button.btn.btn-warning(type="reset" name="cancel" value="Cancella modulo") Cancella modulo
