%ol.breadcrumb
  %li
    %a(href="/ld/2013/") Home
  %li
    %a(href="#") Partecipa
  %li
    %a.active(href="#") Proponi intervento

.row
  .container
    %h2 Presenta o richiedi un argomento

    %p Ecco qualche indicazione aggiuntiva per chi volesse proporre un intervento al Linux Day.

    %h2 Call For Papers
    %h3 Periodo di proposta e approvazione degli interventi 
    :markdown 
      Il *call for papers* è aperto dal 17 settembre 2013 e si chiuderà il **10 ottobre** prossimo. Durante tutto questo periodo di tempo, potrete segnalare (attraverso il modulo [qui in calce](#presenta)) un vostro intervento al Linux Day oppure proporre un argomento da trattare.

      Saranno prese in considerazione, ai fini dell'inserimento nel programma del Linux Day, tutte le segnalazioni di intervento ricevute solo attraverso questa modalità, entro e non oltre il **10 ottobre** 2013. L'accettazione di un intervento e/o la sua respinta sono appannaggio solamente del BGlug, a suo insindacabile giudizio.

      Il BGlug si riserverà di chiedervi ulteriori informazioni riguardo agli interventi proposti: potrà esservi richiesto, per mezzo di mail privata, un estratto più esaustivo dell'intervento o una bozza della presentazione, per valutarne l'aderenza dei contenuti allo scopo e allo spirito del Linux Day.

      Una volta raccolti tutti gli interventi proposti, il BGlug formalizzerà il programma definitivo degli interventi, che verrà pubblicato sull'[apposita pagina](/ld/2013/programma "Programma LD 2013 by BGlug").

    %h3 Richiesta argomenti
    :markdown
      Per chi non si sentisse in grado di presentare in autonomia un intervento, può richiedere ai soci del BGlug di trattare un argomento che potrebbe essere di interesse generale. Qualora uno o più soci del BGlug ritenessero la richiesta interessante, possono decidere di presentare l'argomento richiesto.

      In questo caso, vi chiediamo comunque di riempire il seguente modulo indicando come formato dell'intervento **Proposta di intervento**.

    %h2 Formato dell'intervento
    :markdown
      È possibile presentare un intervento secondo le seguenti modalità:
      
      * **Presentazione** (*talk*): è la classica presentazione, accompagnata da slides o altro materiale visuale o multimediale che dovrebbe guidare gli spettatori nel corso della presentazione. La durata di questo tipo di intervento è solitamente di 40--45 minuti di talk, più una sessione di 10--15 minuti per le domande e il "cambio palco";
      * **Workshop** (*lab*): è un tipo di intervento di approfondimento pratico di un argomento specifico. Anche in questo caso la durata massima per l'intervento è 40--45 minuti, più 10--15 minuti per le domande e il "cambio palco";
      * **_Lightning talk_**: Una forma molto più rapida di talk, più adeguata per l'esposizione di argomenti non troppo articolati. La durata massima per questo tipo di intervento è di 10--15 minuti più 5 minuti di domande e "cambio palco";
      * **Dimostrazione** (*demo*): questo formato permette di fare delle dimostrazioni di funzionamento di particolari software o procedure. Solitamente la demo è di durata inferiore ai 30 minuti (indicare nelle note se prevedete che la demo dovesse durare meno di quanto qui indicato);
      * **Dibattito** o **Tavola rotonda**: è una forma di intervento che ha come scopo il coinvolgimento degli astanti con una serie di domande; solitamente, chi propone l'intervento avrà poi il compito di mediare la discussione. Solitamente viene lasciato un tempo non inferiore ai 45 minuti, fino ad arrivare a due ore.

    %h2 Sessioni
    :markdown
      Vista la grande affluenza di studenti degli istituti tecnici superiori della città di Bergamo ma anche di persone non tecniche soprattutto durante il mattino, il Linux Day verrà organizzato, come al solito, in due sessioni:

      * **Sessione divulgativa**: solitamente corrisponde alla prima parte del Linux Day, dalle 9.00 alle 13.00 circa. All'interno di questo periodo di tempo, l'affluenza agli interventi risulta essere appannaggio di persone non tecniche, quindi si preferisce dare visibilità agli interventi meno tecnici durante la mattina;
      * **Sessione tecnica**: durante le ore pomeridiane (14.00--18.00) è invece più forte la presenza dei tecnici che partecipano alle attività del Linux Day. Pertanto, gli argomenti più difficoltosi o che richiedono una certa *knowledge* vengono programmati per il pomeriggio.
      
      Puoi segnalarci che vuoi presentare un argomento al Linux Day completando il seguente modulo.  

.forms
  :javascript
    $().ready(function() {
      // Valida form.
      $("#presenta").validate({
        rules: {
          nome: "required",
          email: "required",
          titolo: "required",
          captcha_answer: "required",
          nome: {
            required: true,
            minlength: 3,
            maxlength: 50
          },
          email: {
            required: true,
            email: true
          },
          titolo: {
            required: true,
            minlength: 5,
            maxlength: 50
          },
          abstract: {
            maxlength: 300
          },
          altrerichieste: {
            minlength: 3,
            maxlength: 50
          },
          captcha_answer: {
            minlength: 4,
            maxlength: 4
          }
        },
        messages: {
          name: "Inserisci il tuo nome e cognome, di almeno 3 lettere.",
          email: "Inserisci un indirizzo email valido.",
          titolo: "Inserisci un titolo anche provvisorio (min: 5 lettere, max: 50 lettere)",
          abstract: "Il sommario non può essere più lungo di 300 caratteri."
        }
      });
      $('#abstract').keyup(function() {
        var max = 300;
        var len = $(this).val().length;
        if (len >= max) {
          $('#counter').text("Termine lettere a disposizione.");
        } else {
          var char = max - len;
          $('#counter').html(char + ' lettere rimanenti.');
        }
      });
      $('#altrerichieste').keyup(function() {
        var max = 300;
        var len = $(this).val().length;
        if (len >= max) {
          $('#counter').text("Termine lettere a disposizione.");
        } else {
          var char = max - len;
          $('#arcounter').html(char + ' lettere rimanenti.');
        }
      });
    });
  %form.form-horizontal#presenta(action="/ld/2013/conferma" method="post")
    .form-group
      %label.col-lg-2.control-label(for="nome") Nome e Cognome
      .col-lg-6
        %input.form-control(type='text' name='nome' required placeholder="Linus Torvalds")
    .form-group
      %label.col-lg-2.control-label(for='email') Email
      .col-lg-6
        %input.form-control(type='email' name='email' required placeholder="tux@linux.it")
    .form-group
      %label.col-lg-2.control-label(for='titolo') Qual è il titolo (anche provvisorio) del tuo intervento?
      .col-lg-6
        %input.form-control(type='text' name='titolo' required placeholder="La sapete l'ultima?")
    .form-group
      %label.col-lg-2.control-label(for='sessione') In quale sessione preferiresti presentare?
      .col-lg-6
        %select.form-control(name='sessione')
          %option(value="Mattina") Sessione divulgativa (mattino)
          %option(value="Pomeriggio") Sessione tecnica (pomeriggio)
          %option(value="-" selected) È indifferente/non ho preferenze
    .form-group
      %label.col-lg-2.control-label(for="formato") Che formato avrà la tua presentazione?
      .col-lg-6
        %select.form-control(name="formato")
          %option(value="Talk") Presentazione (talk)
          %option(valie="Workshop") Workshop (lab)
          %option(value="Lightning talk")
            %em Lightning talk
          %option(value="Demo") Dimostrazione (demo)
          %option(value="Dibattito") Dibattito/Tavola Rotonda
          %option(value="Proposta") Proposta di intervento
          %option(value="-" selected) Non lo so ancora
    .form-group
      %label.col-lg-2.control-label(for='abstract') Breve sommario del tuo intervento
      .col-lg-6
        %textarea.form-control#abstract(name="abstract" rows="6" placeholder="Scrivi qui qualche riga riguardo alla tua presentazione")
        %p.counter#counter 300 lettere rimanenti.
    .form-group
      %label.col-lg-2.control-label(for='altrerichieste') Altre necessità per la presentazione
      .col-lg-6
        %textarea.form-control#altrerichieste(name="altrerichieste" rows="6" placeholder="Scrivi qui altro materiale necessario al tuo intervento (PC e proiettore sono sempre forniti)")
        %p.counter#arcounter 300 lettere rimanenti.
    .form-group
      = haml 'ld/2013/captcha'.to_sym
    %input(type='hidden' name='azione' value='presenta')

    .col-md-5.col-md-offset-2#bottoni-modulo
      %button.btn.btn-success(type="submit" name="submit" value="Conferma") Conferma
      %button.btn.btn-warning(type="reset" name="cancel" value="Cancella modulo") Cancella modulo
