%ol.breadcrumb
  %li
    %a(href="/ld/2013") Home
  %li
    %a.active(href="#") Programma
.row
  .container
    %h2 Programma
    :markdown
      Stiamo ancora organizzando l'evento. Una volta che avremo definito i contenuti del Linux Day, il programma definitivo verrà pubblicato qui e potrà essere scaricato per essere diffuso il più possibile.
