%ol.breadcrumb
  %li
    %a(href="/ld/2013/") Home
  %li
    %a(href="#") Partecipa
  %li
    %a.active(href="#") Segui gli interventi



.row
  .container
    %h2 Segnala la tua presenza agli interventi
    :markdown
      La partecipazione agli interventi che verranno accettati e che saranno sul [programma](/ld/2013/programma) del Linux Day 2013 sarà libera, senza quota di iscrizione e senza impegno di partecipazione.

      Tuttavia, visto che in passato abbiamo avuto un grande seguito, avremo bisogno di sapere quante persone ospiteremo per l'evento in modo da organizzare al meglio gli spazi.

      Puoi segnalarci la tua presenza utilizzando il seguente modulo.

.forms
  :javascript
    $().ready(function() {
      // Valida form.
      $("#segui").validate({
        rules: {
          nome: "required",
          email: "required",
          captcha_answer: "required",
          nome: {
            required: true,
            minlength: 3
          },
          email: {
            required: true,
            email: true
          },
          accompagnati: "number",
          note: {
            maxlength: 300
          },
          captcha_answer: {
            minlength: 4,
            maxlength: 4
          }
        },
        messages: {
          name: "Inserisci il tuo nome e cognome, di almeno 3 lettere.",
          email: "Inserisci un indirizzo email valido.",
          note: "Le note non possono essere più lunghe di 300 caratteri."
        }
      });
      $('#note').keyup(function() {
        var max = 300;
        var len = $(this).val().length;
        if (len >= max) {
          $('#counter').text("Termine lettere a disposizione.");
        } else {
          var char = max - len;
          $('#counter').html(char + ' lettere rimanenti.');
        }
      });
    });
  %form.form-horizontal#segui(action="/ld/2013/conferma" method="post")
    .form-group
      %label.col-lg-2.control-label(for="nome") Nome e Cognome
      .col-lg-6
        %input.form-control(type='text' name='nome' required placeholder="Linus Torvalds")
    .form-group
      %label.col-lg-2.control-label(for='email') Email
      .col-lg-6
        %input.form-control(type='email' name='email' required placeholder="tux@linux.it")
    .form-group
      %label.col-lg-2.control-label(for='accompagnatore') Porterai altre persone con te?
      .col-lg-6
        %label(for='si') Sì
        %input(type='radio' id='si' name='accompagnatore' value='Sì' style="width: auto;")
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %label(for='no') No
        %input(type='radio' id='no' name='accompagnatore' value='No' style="width: auto;" checked)
    .form-group
      %label.col-lg-2.control-label(for='accompagnati') Se sì, quante persone pensi di accompagnare?
      .col-lg-6
        %input.form-control(type='text' name='accompagnati' placeholder='0')
    .form-group
      %label.col-lg-2.control-label(for='note') Note
      .col-lg-6
        %textarea.form-control#note(name="note" rows="6" placeholder="Digita qui le tue note")
        %p.counter#counter 300 lettere rimanenti.
    .form-group
      = haml 'ld/2013/captcha'.to_sym
    %input(type='hidden' name='azione' value='segui')
    .col-md-5.col-md-offset-2#bottoni-modulo
      %button.btn.btn-success(type="submit" name="submit" value="Conferma") Conferma
      %button.btn.btn-warning(type="reset" name="cancel" value="Cancella modulo") Cancella modulo
