%h1 Segnala la tua presenza agli interventi
%h2 Linux Day 2013 - BGlug

%p Puoi segnalarci la tua presenza utilizzando il seguente modulo.

#segui
  %form(action="/ld/2013/conferma" method="post")
    %table
      %tr
        %th
          %label(for="nome") Nome e Cognome <span class="required">*</span>
        %td
          %input(type='text' name='nome' autofocus required)
      %tr
        %th
          %label(for='email') Email <span class="required">*</span>
        %td
          %input(type='email' name='email' required)
      %tr
        %th Porterai altre persone con te?
        %td
          %label(for='si') Sì
          %input(type='radio' id='si' name='accompagnatore' value='Sì' style="width: auto;")
          %br
          %label(for='no') No
          %input(type='radio' id='no' name='accompagnatore' value='No' style="width: auto;" checked)
      %tr
        %th
          %label(for='accompagnati') Se sì, quante persone pensi di accompagnare?
        %td
          %input(type='text' name='accompagnati' value='0')
      %tr
        %th
          %label(for='note') Note
        %td
          %textarea(name="note" rows="10" cols="40" maxlength="300")
    .buttons
      %input(type='hidden' name='azione' value='segui')
      %input(type="submit" name="submit" value="Conferma")
      %input(type="reset" name="cancel" value="Cancella modulo")
